langchain
python-dotenv
ipykernel
langchain-community
pypdf
beautifulsoup4
arxiv
pymupdf
wikipedia
langchain-text-splitters
lxml
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
streamlit
langchain_groq
fastapi
uvicorn
langserve
sse_starlette
duckduckgo-search
validators == 0.28.1
youtube_transcript_api
unstructured
pytube
gradio
lxml
openai
langchain_nvidia_ai_endpoints
crewai
crewai_tools
pinecone-client
pinecone-text
pinecone-notebooks
numexpr
sympy
fpdf
seaborn
stability_sdk
PyMuPDF
python-docx
google.generativeai
pathlib
googletrans==4.0.0-rc1
deepL
